# Ignore RStudio files
.Rhistory
.Rproj.user/
.RData
*.Rproj

# Ignore vim sessions
*.sess

# Ignore input and build object directories
processed-data/*
raw-data/*
reports/*
build/*
reports*
.Rproj.user
